body {
    /* --menu-item-size: 50px;
    --green-color: #329680;
    --blue-color: #099c95;
    --dark-green-color: #175b52;
    --white-color: #FFF;
    --gray-color: #EDEDED; */
    
    background-color: #09090bed;
    /* --line-offset: calc((100% - var(--container-height)) / 2 + var(--menu-item-size) + 0.6em); */
}
.header{
    width: 395px;
    height: 220px;
    color: #707070;
    background-color: #5555553b;
    margin-top: -29px;
    border-radius: 4px;
    
}

.logo {
   margin:30px 0px 10px;
   padding: 22px 0px 0px 0px;
}

#search{
    
 
    border: 1px solid #3f3f46;;
   margin-left: 23px;

    height: 42px; 
    width: 304.516px; 
    background-color: #18181b;
    margin-top: -15px;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 17px;
    box-sizing: border-box;
    
   
    /* margin-bottom: 27px;
   
    margin-left: 10px;
    margin-right: 0px;
    display: inline-block;
    text-align: left; */
  
}

#search-button{
    height: 42px;
    width: 39px;
    background-color:  #494949;
    border: 1px solid #3f3f46;
    font-size: large;
    
    color:#fff;
    margin:-28px 0px 0px -11px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

#menu{
    width:99.50%;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #494949;
    background-color: #494949;
    margin:20px 0px 0px 0px;
    color: #ffffffe8;
    text-align: center;
}

.button5{
    font-size: 14px;
    font-family: arial;
    background-color: #555555;
    padding: 9px 6px;
    margin: 4px 5px;
    color: #fff;
    border:1px solid #ffffffa8;
    border-radius: 5px;
    display: inline-block;
}

#menu-contain{
    margin-top: 10px;
}
